.logo-icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: gray;
  background-image: url("https://picsum.photos/200/300");
  background-size: cover;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
